* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #008888;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.balloon-border {
  position: fixed;
  top: 100%;
  opacity: 0.5;
  z-index: 1;
  animation: animation linear 10s infinite;
}

@keyframes animation {
  0% {
    top: 80%;
  }
  25% {
    top: 60%;
  }
  50% {
    top: 40%;
  }
  75% {
    top: 20%;
  }
  100% {
    top: 0;
  }
}

.play {
  position: relative;
  z-index: 1;
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

audio {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 35vh;
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}
